@media screen{
    .tm-main-nav a:hover{
        background-color: lightskyblue;
        color: #fff;
    }

    .tm-main-nav{
        box-shadow: 0 1px 5px 0 rgba(61, 55, 61, 0.7); 
    }
    .tm-banner{
        background-color: grey;
    }

    .tm-banner-inner{
        background-color: #fff;
        letter-spacing: 5px;
        word-spacing: 5px;
    }

    section, .tm-content-header{
        box-shadow: 1px -1px 10px 1px rgba(61, 55, 61, 0.7);
    }

    section{
        position: relative;
    }

    .flex-2-col{
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        font-style: italic;
    }

    section::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        border: 25px solid transparent;
        border-left: 25px solid lightskyblue;
        border-top: 25px solid lightskyblue;
    }

    .flex-2-col h2{
        font-style: normal;
    }

    .flex-2-col img{
        width: 100%;
        height: 100%;
    }

    .tm-team-img{
        width: 80%;
    }

    .tm-team-description-container{
        text-indent: 1.5em;
        text-align: left;
        width: 40%;
        margin: auto 0;
        font-size: 16px;
    }

    .tm-box-bg-title:hover{
        color: #fff;
        background-color: lightskyblue;
        font-weight: bold;
    }

    .heading h2{
        text-align: center;
        color: lightskyblue;
        font-weight: 300;
    }

    .heading li{
        list-style-type: decimal-leading-zero;
    }

    .heading li a:hover{
        font-weight: bold;
        color: #ff0000;
        text-decoration: underline;
        display: inline-block;

    }

    .heading li a:hover::before{
        content: '>';
        display:inline-block;
        text-decoration: none;
    }

    .heading .text:after{
        content: 'New';
        vertical-align: super;
        display: inline-block;
        color: #ff0000;
        font-size: 12px;
        font-weight: 600;
    }

    .flex-2-col p, .flex-item p{
        flex-direction: row-reverse;
        font-style: italic;
    }

    .tm-team-description-container h2{
        text-align: center;
        margin-right: 30px;
    }

    .box-work p::first-letter{
        font-weight: bold;
    }

    .box-work p {
        font-style: italic;
    }

    .box-work{
        width: 32.4%;
        padding: 10px;
    }
    .box-work:nth-child(2n){
        background-color: lightskyblue;
        color: #fff;
    }

    #contact h2, form .submit-btn{
        float: right;
    }

    form{
        clear: both;
    }

    .form-control{
        border: none;
        border-bottom: 1px solid lightskyblue;
    }

    #contact_subject{
        background-image: url('../img/email-icon.png');
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: right;
    }

    .form-control:focus{
        background-color: lightskyblue;
    }

    .form-group textarea{
        border: 1px solid #ccc;
    }

    .contact-form .submit-btn{
        border-radius: 0;
        background-color: #fff;
        color: lightskyblue;
        border: 1px solid lightskyblue;
        padding: 5px 25px;
    }

    .contact-form .submit-btn:hover{
        color: #fff;
        background: #20B2AA;
    }
}





@media print{
    body{
        text-align: center;
        font-style: italic;
        box-shadow: 0 10px 5px 0 rgba(61, 55, 61, 0.7);
    }

    .tm-banner-inner .tm-banner-text, footer{
        font-style: normal;
    }

    .tm-banner-inner .tm-banner-text{
        letter-spacing: 5px;
    }

    h2{
        padding: 0;
        margin: 0;
        color: lightskyblue;
        font-weight: 300;
        font-style: normal;
        text-transform: uppercase;
    }

    .tm-main-content{
        padding-top: 0;
    }

    .tm-sidebar, .tm-team-img, .gallery-container, .gallery-container, .carousel-indicators, #contact, .img-contact-us{
        display: none;
    }

    .tm-team-description-container{
        max-width: 100%;
    }

    .tm-content-box, .padding-medium{
        padding: 0;
        margin: 5px 0;
    }

    .padding-medium ol{
        width: 91%;
    }

    .padding-medium ol li{
        list-style: none;
        padding-top: 25px;
        display: block;
        float: left;
        width: 50%; 
        font-style: normal;
    }

    .padding-medium ol li:nth-child(2n+1){
        padding-top: 5px;   
    }
}
